# FRE 521D: Data Analytics in Climate, Food and Environment

## Lecture 2: SQL Refresher - Joins, CTEs, Window Functions, Data Contracts

**Date:** January 7, 2026  
**Instructor:** Asif Ahmed Neloy  
**Term:** Winter 2026

---

## 1. Learning Objectives

By the end of this lecture, you will be able to:

1. Load external data (CSV files) into a MySQL database using Python
2. Apply SQL JOINs (INNER, LEFT, RIGHT, CROSS, SELF) to combine related tables
3. Write Common Table Expressions (CTEs) for readable, modular queries
4. Use window functions for advanced analytics (ranking, running totals, comparisons)
5. Define and implement data contracts for quality assurance

---

## 2. Dataset Introduction: Air Quality UCI

### About the Dataset

The **Air Quality UCI** dataset contains hourly air quality measurements from a monitoring station in an Italian city. The data was collected from **March 2004 to February 2005** and includes readings from multiple chemical sensors.

**Source:** UCI Machine Learning Repository  
**Records:** ~9,357 hourly observations  
**Period:** March 10, 2004 - April 4, 2005

### Column Descriptions

| Column | Description | Unit |
|--------|-------------|------|
| Date | Date of measurement | DD/MM/YYYY |
| Time | Time of measurement | HH.MM.SS |
| CO(GT) | True hourly averaged CO concentration | mg/m3 |
| PT08.S1(CO) | Tin oxide sensor response (CO targeted) | - |
| NMHC(GT) | True hourly averaged NMHC concentration | microg/m3 |
| C6H6(GT) | True hourly averaged Benzene concentration | microg/m3 |
| PT08.S2(NMHC) | Titania sensor response (NMHC targeted) | - |
| NOx(GT) | True hourly averaged NOx concentration | ppb |
| PT08.S3(NOx) | Tungsten oxide sensor response (NOx targeted) | - |
| NO2(GT) | True hourly averaged NO2 concentration | microg/m3 |
| PT08.S4(NO2) | Tungsten oxide sensor response (NO2 targeted) | - |
| PT08.S5(O3) | Indium oxide sensor response (O3 targeted) | - |
| T | Temperature | Celsius |
| RH | Relative Humidity | % |
| AH | Absolute Humidity | - |

### Data Quality Notes

- **Missing Values:** Represented as `-200` in the original data
- **Decimal Format:** Uses comma as decimal separator (European format)
- **Separator:** Semicolon (;) separated values
- **(GT)** suffix indicates "Ground Truth" measurements from reference analyzers
- **PT08.Sx** columns are sensor responses (not direct measurements)

---

## 3. Loading CSV Data into MySQL

### 3.1 Setup and Connection

First, ensure your MySQL Docker container is running from Lecture 1.

In [1]:
# Install required packages (run once)
%pip install pandas pymysql sqlalchemy ipython-sql --quiet
%pip install -U cryptography

Access is denied.
Access is denied.

In [30]:
# Import required libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
import warnings
warnings.filterwarnings('ignore')

# Load SQL magic extension
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [31]:
# # Database connection parameters
# DB_USER = "mfre521d_user"
# DB_PASSWORD = "mfre521d_user_pw"
# DB_HOST = "localhost"
# DB_PORT = "3306"
# DB_NAME = "mfre521d"

# # Create connection string
# connection_string = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# # Create SQLAlchemy engine
# engine = create_engine(connection_string)

# # Connect SQL magic
# %sql {connection_string}

# Database connection parameters
DB_USER = "mfre521d_user"
DB_PASSWORD = "mfre521d_user_pw"
DB_HOST = "localhost"
DB_PORT = "3306"
DB_NAME = "mfre521d"

# Create connection string
connection_string = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

from sqlalchemy import create_engine

engine = create_engine(connection_string)

try:
    with engine.connect() as conn:
        print("Connected OK")
except Exception as e:
    print(type(e), e)

<class 'RuntimeError'> 'cryptography' package is required for sha256_password or caching_sha2_password auth methods

In [32]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%config SqlMagic.autopandas = False

In [33]:
%%sql

SELECT 'Connection successful!' AS status, NOW() AS current_ts;

Traceback (most recent call last):
  File "C:\Users\Asif Ahmed Neloy\AppData\Roaming\Python\Python310\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\Asif Ahmed Neloy\AppData\Roaming\Python\Python310\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### 3.2 Reading and Cleaning the CSV File

The Air Quality dataset has some peculiarities we need to handle:
- Semicolon separator
- Comma as decimal separator
- -200 represents missing values
- Empty rows at the end of the file

In [ ]:
from pathlib import Path
import pandas as pd

# Notebook is in: FRE521D-Winter2026-UBC\Lectures\Lecture 2 01-07-2026\
# Repo root is:    FRE521D-Winter2026-UBC\
repo_root = Path.cwd().resolve().parents[1]   # up from Lecture folder -> Lectures -> repo root

csv_path = repo_root / "Datasets" / "AirQualityUCI.csv"

print("Repo root:", repo_root)
print("CSV path:", csv_path)
print("Exists:", csv_path.exists())


# Read with semicolon separator and European decimal format
df_raw = pd.read_csv(
    csv_path,
    sep=';',
    decimal=',',
    na_values=['-200', -200],  # Treat -200 as missing
    encoding='utf-8'
)

print(f"Raw shape: {df_raw.shape}")
df_raw.head()

In [ ]:
# Check column names and data types
df_raw.info()

In [ ]:
# Clean the dataframe
# 1. Remove empty columns (Unnamed columns)
df = df_raw.loc[:, ~df_raw.columns.str.contains('^Unnamed')]

# 2. Remove rows where all values are NaN (empty rows)
df = df.dropna(how='all')

# 3. Rename columns to be SQL-friendly (no parentheses, dots)
column_mapping = {
    'Date': 'reading_date',
    'Time': 'reading_time',
    'CO(GT)': 'co_gt',
    'PT08.S1(CO)': 'pt08_s1_co',
    'NMHC(GT)': 'nmhc_gt',
    'C6H6(GT)': 'benzene_gt',
    'PT08.S2(NMHC)': 'pt08_s2_nmhc',
    'NOx(GT)': 'nox_gt',
    'PT08.S3(NOx)': 'pt08_s3_nox',
    'NO2(GT)': 'no2_gt',
    'PT08.S4(NO2)': 'pt08_s4_no2',
    'PT08.S5(O3)': 'pt08_s5_o3',
    'T': 'temperature',
    'RH': 'rel_humidity',
    'AH': 'abs_humidity'
}
df = df.rename(columns=column_mapping)

print(f"Cleaned shape: {df.shape}")
df.head()

In [ ]:
# 4. Create a proper datetime column
# The time format is HH.MM.SS, need to convert to HH:MM:SS
df['reading_time'] = df['reading_time'].str.replace('.', ':', regex=False)

# Combine date and time into datetime
df['reading_datetime'] = pd.to_datetime(
    df['reading_date'] + ' ' + df['reading_time'],
    format='%d/%m/%Y %H:%M:%S'
)

# Extract useful time components
df['hour'] = df['reading_datetime'].dt.hour
df['day_of_week'] = df['reading_datetime'].dt.dayofweek
df['month'] = df['reading_datetime'].dt.month
df['year'] = df['reading_datetime'].dt.year

# Add a unique ID
df['reading_id'] = range(1, len(df) + 1)

print("Columns after transformation:")
print(df.columns.tolist())
df.head()

In [ ]:
# Check missing values summary
missing_summary = df.isnull().sum()
missing_pct = (missing_summary / len(df) * 100).round(2)
missing_df = pd.DataFrame({
    'missing_count': missing_summary,
    'missing_pct': missing_pct
})
print("Missing Values Summary:")
missing_df[missing_df['missing_count'] > 0]

### 3.3 Loading Data into MySQL

We will create multiple tables to demonstrate JOINs:

1. **air_quality_readings** - Main fact table with all hourly measurements
2. **sensor_info** - Dimension table with metadata about each sensor type
3. **daily_summary** - Pre-aggregated daily statistics
4. **monthly_summary** - Pre-aggregated monthly statistics

In [ ]:
%%sql

-- Drop existing tables if they exist (for clean re-run)
DROP TABLE IF EXISTS air_quality_readings;
DROP TABLE IF EXISTS sensor_info;
DROP TABLE IF EXISTS daily_summary;
DROP TABLE IF EXISTS monthly_summary;
DROP TABLE IF EXISTS pollution_thresholds;

In [ ]:
%%sql

-- Create sensor_info table (dimension table)
CREATE TABLE sensor_info (
    sensor_id INT PRIMARY KEY,
    sensor_code VARCHAR(20) NOT NULL,
    sensor_name VARCHAR(100) NOT NULL,
    measurement_type VARCHAR(50),
    unit VARCHAR(20),
    is_ground_truth BOOLEAN,
    description TEXT
);

In [ ]:
%%sql

-- Insert sensor metadata
INSERT INTO sensor_info (sensor_id, sensor_code, sensor_name, measurement_type, unit, is_ground_truth, description)
VALUES
    (1, 'CO_GT', 'Carbon Monoxide (Ground Truth)', 'CO', 'mg/m3', TRUE, 'True hourly averaged CO concentration from reference analyzer'),
    (2, 'PT08_S1_CO', 'Tin Oxide Sensor (CO)', 'CO', 'sensor_response', FALSE, 'Tin oxide sensor response targeted at CO'),
    (3, 'NMHC_GT', 'Non-Methane Hydrocarbons (Ground Truth)', 'NMHC', 'microg/m3', TRUE, 'True hourly averaged NMHC concentration'),
    (4, 'C6H6_GT', 'Benzene (Ground Truth)', 'Benzene', 'microg/m3', TRUE, 'True hourly averaged Benzene concentration'),
    (5, 'PT08_S2_NMHC', 'Titania Sensor (NMHC)', 'NMHC', 'sensor_response', FALSE, 'Titania sensor response targeted at NMHC'),
    (6, 'NOX_GT', 'Nitrogen Oxides (Ground Truth)', 'NOx', 'ppb', TRUE, 'True hourly averaged NOx concentration'),
    (7, 'PT08_S3_NOX', 'Tungsten Oxide Sensor (NOx)', 'NOx', 'sensor_response', FALSE, 'Tungsten oxide sensor response targeted at NOx'),
    (8, 'NO2_GT', 'Nitrogen Dioxide (Ground Truth)', 'NO2', 'microg/m3', TRUE, 'True hourly averaged NO2 concentration'),
    (9, 'PT08_S4_NO2', 'Tungsten Oxide Sensor (NO2)', 'NO2', 'sensor_response', FALSE, 'Tungsten oxide sensor response targeted at NO2'),
    (10, 'PT08_S5_O3', 'Indium Oxide Sensor (O3)', 'O3', 'sensor_response', FALSE, 'Indium oxide sensor response targeted at O3'),
    (11, 'TEMP', 'Temperature', 'Temperature', 'Celsius', TRUE, 'Ambient temperature'),
    (12, 'RH', 'Relative Humidity', 'Humidity', '%', TRUE, 'Relative humidity percentage'),
    (13, 'AH', 'Absolute Humidity', 'Humidity', 'g/m3', TRUE, 'Absolute humidity');

In [ ]:
%%sql

-- Create pollution thresholds table (for JOIN demonstrations)
CREATE TABLE pollution_thresholds (
    threshold_id INT PRIMARY KEY,
    pollutant VARCHAR(20) NOT NULL,
    level_name VARCHAR(20) NOT NULL,
    min_value DECIMAL(10,2),
    max_value DECIMAL(10,2),
    health_advisory TEXT
);

In [ ]:
%%sql

-- Insert pollution threshold data
INSERT INTO pollution_thresholds (threshold_id, pollutant, level_name, min_value, max_value, health_advisory)
VALUES
    (1, 'CO', 'Good', 0, 1.0, 'Air quality is satisfactory'),
    (2, 'CO', 'Moderate', 1.0, 2.0, 'Acceptable air quality'),
    (3, 'CO', 'Unhealthy-Sensitive', 2.0, 4.0, 'Sensitive groups should limit outdoor activity'),
    (4, 'CO', 'Unhealthy', 4.0, 10.0, 'Everyone should limit outdoor activity'),
    (5, 'CO', 'Very Unhealthy', 10.0, 999.0, 'Health alert - avoid outdoor activity'),
    (6, 'Benzene', 'Good', 0, 5.0, 'Air quality is satisfactory'),
    (7, 'Benzene', 'Moderate', 5.0, 10.0, 'Acceptable air quality'),
    (8, 'Benzene', 'Unhealthy-Sensitive', 10.0, 15.0, 'Sensitive groups should limit exposure'),
    (9, 'Benzene', 'Unhealthy', 15.0, 25.0, 'Everyone should limit exposure'),
    (10, 'Benzene', 'Very Unhealthy', 25.0, 999.0, 'Health alert - minimize exposure');

In [ ]:
%%sql

-- Create main readings table
CREATE TABLE air_quality_readings (
    reading_id INT PRIMARY KEY,
    reading_datetime DATETIME NOT NULL,
    reading_date DATE,
    hour INT,
    day_of_week INT,
    month INT,
    year INT,
    co_gt DECIMAL(10,4),
    pt08_s1_co DECIMAL(10,2),
    nmhc_gt DECIMAL(10,2),
    benzene_gt DECIMAL(10,4),
    pt08_s2_nmhc DECIMAL(10,2),
    nox_gt DECIMAL(10,2),
    pt08_s3_nox DECIMAL(10,2),
    no2_gt DECIMAL(10,2),
    pt08_s4_no2 DECIMAL(10,2),
    pt08_s5_o3 DECIMAL(10,2),
    temperature DECIMAL(5,2),
    rel_humidity DECIMAL(5,2),
    abs_humidity DECIMAL(6,4),
    INDEX idx_datetime (reading_datetime),
    INDEX idx_date (reading_date),
    INDEX idx_hour (hour),
    INDEX idx_month (month)
);

In [ ]:
# Prepare dataframe for insertion
df_to_insert = df[[
    'reading_id', 'reading_datetime', 'reading_date', 'hour', 'day_of_week',
    'month', 'year', 'co_gt', 'pt08_s1_co', 'nmhc_gt', 'benzene_gt',
    'pt08_s2_nmhc', 'nox_gt', 'pt08_s3_nox', 'no2_gt', 'pt08_s4_no2',
    'pt08_s5_o3', 'temperature', 'rel_humidity', 'abs_humidity'
]].copy()

# Convert reading_date to proper format
df_to_insert['reading_date'] = pd.to_datetime(df_to_insert['reading_datetime']).dt.date

# Insert data using pandas to_sql
df_to_insert.to_sql(
    'air_quality_readings',
    engine,
    if_exists='append',
    index=False,
    chunksize=1000
)

print(f"Inserted {len(df_to_insert)} rows into air_quality_readings")

In [ ]:
%%sql

-- Verify data was inserted
SELECT COUNT(*) AS total_rows FROM air_quality_readings;

In [ ]:
%%sql

-- Create daily summary table
CREATE TABLE daily_summary AS
SELECT 
    reading_date,
    month,
    year,
    COUNT(*) AS readings_count,
    ROUND(AVG(co_gt), 4) AS avg_co,
    ROUND(MAX(co_gt), 4) AS max_co,
    ROUND(MIN(co_gt), 4) AS min_co,
    ROUND(AVG(benzene_gt), 4) AS avg_benzene,
    ROUND(MAX(benzene_gt), 4) AS max_benzene,
    ROUND(AVG(nox_gt), 2) AS avg_nox,
    ROUND(MAX(nox_gt), 2) AS max_nox,
    ROUND(AVG(no2_gt), 2) AS avg_no2,
    ROUND(AVG(temperature), 2) AS avg_temp,
    ROUND(MIN(temperature), 2) AS min_temp,
    ROUND(MAX(temperature), 2) AS max_temp,
    ROUND(AVG(rel_humidity), 2) AS avg_humidity
FROM air_quality_readings
GROUP BY reading_date, month, year
ORDER BY reading_date;

In [ ]:
%%sql

-- Create monthly summary table
CREATE TABLE monthly_summary AS
SELECT 
    month,
    year,
    COUNT(*) AS readings_count,
    COUNT(DISTINCT reading_date) AS days_with_data,
    ROUND(AVG(co_gt), 4) AS avg_co,
    ROUND(AVG(benzene_gt), 4) AS avg_benzene,
    ROUND(AVG(nox_gt), 2) AS avg_nox,
    ROUND(AVG(temperature), 2) AS avg_temp
FROM air_quality_readings
GROUP BY month, year
ORDER BY year, month;

In [ ]:
%%sql

-- Verify all tables exist
SHOW TABLES;

## Create Insert data using Python

In [ ]:
df

In [ ]:
# Remove unnamed columns and completely empty columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]  # Remove "Unnamed" columns
df = df.dropna(axis=1, how='all')  # Remove columns where all values are NaN

# Remove completely empty rows
df = df.dropna(axis=0, how='all')  # Remove rows where all values are NaN

# Reset index after dropping rows
df = df.reset_index(drop=True)

# Display the cleaned dataset
df

In [ ]:
from sqlalchemy import text

# Function to map Pandas dtypes to MySQL types
def map_dtype(dtype):
    s = str(dtype)
    if "int" in s:
        return "INT"
    if "float" in s:
        return "DOUBLE"
    if "bool" in s:
        return "TINYINT(1)"
    if "datetime" in s:
        return "DATETIME"
    return "VARCHAR(255)"

table_name = "AirQuality_3"

# Use backticks for MySQL identifiers (not [brackets])
columns_sql = ", ".join(
    [f"`{col}` {map_dtype(dtype)}" for col, dtype in zip(df.columns, df.dtypes)]
)

create_table_query = f"CREATE TABLE IF NOT EXISTS `{table_name}` ({columns_sql});"

# Execute the CREATE TABLE statement using SQLAlchemy
with engine.begin() as conn:
    conn.execute(text(create_table_query))

print(f"Table {table_name} created successfully!")

In [ ]:
from sqlalchemy import text
import pandas as pd
import math

# Replace NaN values with None to prevent SQL errors
df = df.where(pd.notnull(df), None)

# Insert data into SQL table (cursor/conn replaced with SQLAlchemy)
with engine.begin() as conn:
    for index, row in df.iterrows():
        placeholders = ", ".join([f":p{i}" for i in range(len(row))])
        insert_query = text(f"INSERT INTO `{table_name}` VALUES ({placeholders})")

        values = []
        for v in row:
            if v is None:
                values.append(None)
            elif isinstance(v, float) and math.isnan(v):
                values.append(None)
            elif isinstance(v, pd.Timestamp):
                values.append(v.to_pydatetime())
            else:
                values.append(v)

        params = {f"p{i}": values[i] for i in range(len(values))}
        conn.execute(insert_query, params)

print(f"Data inserted into {table_name} successfully!")

In [ ]:
import pandas as pd

df_airquality2 = pd.read_sql("SELECT * FROM `AirQuality_3` LIMIT 20;", engine)
df_airquality2

In [ ]:
tables = pd.read_sql("SHOW TABLES;", engine)
tables

In [ ]:
import pandas as pd

df_airquality = pd.read_sql("SELECT * FROM `air_quality_readings` LIMIT 20;", engine)
df_airquality

---

## 4. SQL JOINs

### What are JOINs?

JOINs are SQL operations that combine rows from two or more tables based on a related column between them. They are fundamental to working with relational databases where data is normalized across multiple tables.

### Why Use JOINs?

In a well-designed database, data is organized into separate tables to:
- Reduce data redundancy
- Maintain data integrity
- Improve storage efficiency

JOINs allow us to recombine this data when needed for analysis.

### 4.1 INNER JOIN

#### Concept

An **INNER JOIN** returns only the rows where there is a match in **both** tables. If a row in either table does not have a matching row in the other table, it is excluded from the result.

#### Visual Representation

```
Table A          Table B          INNER JOIN Result
+----+----+      +----+----+      +----+----+----+
| id | a  |      | id | b  |      | id | a  | b  |
+----+----+      +----+----+      +----+----+----+
| 1  | A1 |      | 1  | B1 |      | 1  | A1 | B1 |
| 2  | A2 |      | 3  | B3 |  =>  | 3  | A3 | B3 |
| 3  | A3 |      | 4  | B4 |      +----+----+----+
+----+----+      +----+----+      (Only matching IDs)
```

#### Syntax

```sql
SELECT columns
FROM table_a
INNER JOIN table_b ON table_a.key = table_b.key;
```

#### When to Use

- When you only want records that have matching data in both tables
- Most common type of JOIN for combining related data

#### Business Question 1: Which hourly readings had CO levels in the "Unhealthy" range?

We will JOIN the readings table with the pollution thresholds table to classify each reading.

In [ ]:
%%sql

-- INNER JOIN: Classify CO readings by pollution level
SELECT 
    r.reading_datetime,
    r.co_gt AS co_level,
    p.level_name,
    p.health_advisory
FROM air_quality_readings r
INNER JOIN pollution_thresholds p 
    ON p.pollutant = 'CO'
    AND r.co_gt >= p.min_value 
    AND r.co_gt < p.max_value
WHERE r.co_gt IS NOT NULL
ORDER BY r.co_gt DESC
LIMIT 15;

#### Business Question 2: How many readings fall into each pollution category?

In [ ]:
%%sql

-- INNER JOIN: Count readings by pollution level
SELECT 
    p.level_name,
    p.min_value,
    p.max_value,
    COUNT(r.reading_id) AS reading_count,
    ROUND(COUNT(r.reading_id) * 100.0 / 
          (SELECT COUNT(*) FROM air_quality_readings WHERE co_gt IS NOT NULL), 2) AS percentage
FROM pollution_thresholds p
INNER JOIN air_quality_readings r 
    ON p.pollutant = 'CO'
    AND r.co_gt >= p.min_value 
    AND r.co_gt < p.max_value
WHERE r.co_gt IS NOT NULL
GROUP BY p.level_name, p.min_value, p.max_value
ORDER BY p.min_value;

### 4.2 LEFT JOIN (LEFT OUTER JOIN)

#### Concept

A **LEFT JOIN** returns **all rows from the left table** and the matching rows from the right table. If there is no match, NULL values are returned for columns from the right table.

#### Visual Representation

```
Table A          Table B          LEFT JOIN Result
+----+----+      +----+----+      +----+----+------+
| id | a  |      | id | b  |      | id | a  | b    |
+----+----+      +----+----+      +----+----+------+
| 1  | A1 |      | 1  | B1 |      | 1  | A1 | B1   |
| 2  | A2 |      | 3  | B3 |  =>  | 2  | A2 | NULL |
| 3  | A3 |      | 4  | B4 |      | 3  | A3 | B3   |
+----+----+      +----+----+      +----+----+------+
                                  (All from A, matches from B)
```

#### Syntax

```sql
SELECT columns
FROM table_a
LEFT JOIN table_b ON table_a.key = table_b.key;
```

#### When to Use

- When you want all records from the primary (left) table regardless of matches
- Finding records that do NOT have a match (using WHERE right_table.key IS NULL)
- Preserving all data from the main table while adding optional information

#### Business Question 3: Show all days with their summary statistics, including days with missing data

In [ ]:
%%sql

-- LEFT JOIN: Get daily summaries with monthly context
SELECT 
    d.reading_date,
    d.avg_co AS daily_avg_co,
    m.avg_co AS monthly_avg_co,
    ROUND(d.avg_co - m.avg_co, 4) AS deviation_from_monthly,
    CASE 
        WHEN d.avg_co > m.avg_co THEN 'Above Average'
        WHEN d.avg_co < m.avg_co THEN 'Below Average'
        ELSE 'Average'
    END AS comparison
FROM daily_summary d
LEFT JOIN monthly_summary m 
    ON d.month = m.month AND d.year = m.year
WHERE d.avg_co IS NOT NULL
ORDER BY d.reading_date
LIMIT 15;

#### Business Question 4: Find pollution thresholds that have no matching readings (identify unused categories)

In [ ]:
%%sql

-- LEFT JOIN to find unmatched records
SELECT 
    p.pollutant,
    p.level_name,
    p.min_value,
    p.max_value,
    COUNT(r.reading_id) AS matching_readings
FROM pollution_thresholds p
LEFT JOIN air_quality_readings r 
    ON (p.pollutant = 'CO' AND r.co_gt >= p.min_value AND r.co_gt < p.max_value)
    OR (p.pollutant = 'Benzene' AND r.benzene_gt >= p.min_value AND r.benzene_gt < p.max_value)
GROUP BY p.pollutant, p.level_name, p.min_value, p.max_value
ORDER BY p.pollutant, p.min_value;

### 4.3 RIGHT JOIN (RIGHT OUTER JOIN)

#### Concept

A **RIGHT JOIN** returns **all rows from the right table** and the matching rows from the left table. If there is no match, NULL values are returned for columns from the left table.

#### Visual Representation

```
Table A          Table B          RIGHT JOIN Result
+----+----+      +----+----+      +------+----+----+
| id | a  |      | id | b  |      | a    | id | b  |
+----+----+      +----+----+      +------+----+----+
| 1  | A1 |      | 1  | B1 |      | A1   | 1  | B1 |
| 2  | A2 |      | 3  | B3 |  =>  | A3   | 3  | B3 |
| 3  | A3 |      | 4  | B4 |      | NULL | 4  | B4 |
+----+----+      +----+----+      +------+----+----+
                                  (All from B, matches from A)
```

#### Syntax

```sql
SELECT columns
FROM table_a
RIGHT JOIN table_b ON table_a.key = table_b.key;
```

#### When to Use

- When you want all records from the secondary (right) table
- Less common than LEFT JOIN (you can usually rewrite as LEFT JOIN by swapping table order)
- Useful when the query logic naturally flows left-to-right

#### Business Question 5: Show all months and their data availability

In [ ]:
%%sql

-- RIGHT JOIN: Ensure all monthly summaries are shown with their daily details
SELECT 
    m.month,
    m.year,
    m.avg_co AS monthly_avg_co,
    COUNT(d.reading_date) AS days_in_month,
    ROUND(AVG(d.avg_co), 4) AS recalculated_avg_co
FROM daily_summary d
RIGHT JOIN monthly_summary m 
    ON d.month = m.month AND d.year = m.year
GROUP BY m.month, m.year, m.avg_co
ORDER BY m.year, m.month;

### 4.4 CROSS JOIN

#### Concept

A **CROSS JOIN** returns the **Cartesian product** of both tables - every row from the first table is combined with every row from the second table. No join condition is specified.

#### Visual Representation

```
Table A      Table B      CROSS JOIN Result
+----+       +----+       +----+----+
| a  |       | b  |       | a  | b  |
+----+       +----+       +----+----+
| A1 |       | B1 |       | A1 | B1 |
| A2 |   X   | B2 |   =>  | A1 | B2 |
+----+       +----+       | A2 | B1 |
                          | A2 | B2 |
                          +----+----+
                          (2 x 2 = 4 rows)
```

#### Syntax

```sql
SELECT columns
FROM table_a
CROSS JOIN table_b;
```

#### When to Use

- Generating all possible combinations
- Creating lookup tables or calendars
- Comparing every row in one table to every row in another
- **Caution:** Result size = rows_in_A * rows_in_B (can be very large!)

#### Business Question 6: Compare average CO levels across all months (create a comparison matrix)

In [ ]:
%%sql

-- CROSS JOIN: Compare each month's CO level to every other month
SELECT 
    m1.month AS month_1,
    m1.year AS year_1,
    m1.avg_co AS co_month_1,
    m2.month AS month_2,
    m2.year AS year_2,
    m2.avg_co AS co_month_2,
    ROUND(m1.avg_co - m2.avg_co, 4) AS co_difference
FROM monthly_summary m1
CROSS JOIN monthly_summary m2
WHERE m1.month != m2.month OR m1.year != m2.year
ORDER BY ABS(m1.avg_co - m2.avg_co) DESC
LIMIT 10;

### 4.5 SELF JOIN

#### Concept

A **SELF JOIN** is when a table is joined with itself. This is useful for comparing rows within the same table or finding relationships between records in the same table.

#### Visual Representation

```
employees table                    SELF JOIN (Find managers)
+----+-------+------------+        +----------+-------------+
| id | name  | manager_id |        | employee | manager     |
+----+-------+------------+        +----------+-------------+
| 1  | Alice | NULL       |        | Bob      | Alice       |
| 2  | Bob   | 1          |   =>   | Carol    | Bob         |
| 3  | Carol | 2          |        +----------+-------------+
+----+-------+------------+
```

#### Syntax

```sql
SELECT columns
FROM table_a AS a1
JOIN table_a AS a2 ON a1.some_column = a2.other_column;
```

#### When to Use

- Comparing rows within the same table
- Finding sequential records (previous/next)
- Hierarchical data (employees and managers)
- Time-series comparisons (today vs yesterday)

#### Business Question 7: Compare each day's pollution to the previous day

In [ ]:
%%sql

-- SELF JOIN: Compare each day to the previous day
SELECT 
    curr.reading_date AS current_date,
    curr.avg_co AS current_co,
    prev.reading_date AS previous_date,
    prev.avg_co AS previous_co,
    ROUND(curr.avg_co - prev.avg_co, 4) AS co_change,
    CASE 
        WHEN curr.avg_co > prev.avg_co * 1.5 THEN 'Significant Increase'
        WHEN curr.avg_co < prev.avg_co * 0.5 THEN 'Significant Decrease'
        WHEN curr.avg_co > prev.avg_co THEN 'Increase'
        WHEN curr.avg_co < prev.avg_co THEN 'Decrease'
        ELSE 'No Change'
    END AS trend
FROM daily_summary curr
INNER JOIN daily_summary prev 
    ON curr.reading_date = DATE_ADD(prev.reading_date, INTERVAL 1 DAY)
WHERE curr.avg_co IS NOT NULL AND prev.avg_co IS NOT NULL
ORDER BY curr.reading_date
LIMIT 15;

---

## 5. Common Table Expressions (CTEs)

### What are CTEs?

A **Common Table Expression (CTE)** is a temporary named result set that exists only within the scope of a single SQL statement. Think of it as creating a temporary "view" that you can reference in your main query.

### Benefits of CTEs

| Benefit | Description |
|---------|-------------|
| **Readability** | Break complex queries into logical, named steps |
| **Reusability** | Reference the same CTE multiple times in one query |
| **Maintainability** | Easier to debug and modify individual parts |
| **Organization** | Separate data preparation from final analysis |

### Basic Syntax

```sql
WITH cte_name AS (
    -- Your query here
    SELECT column1, column2
    FROM some_table
    WHERE condition
)
SELECT *
FROM cte_name;
```

### Multiple CTEs Syntax

```sql
WITH 
    cte_first AS (
        SELECT ...
    ),
    cte_second AS (
        SELECT ...
        FROM cte_first  -- Can reference previous CTEs
    )
SELECT *
FROM cte_second;
```

### 5.1 Single CTE

#### Concept

A single CTE is useful for:
- Pre-filtering or aggregating data before the main query
- Making complex subqueries more readable
- Calculating intermediate values

#### Example Structure

```sql
WITH filtered_data AS (
    SELECT *
    FROM raw_table
    WHERE quality_flag = 'GOOD'
)
SELECT AVG(value)
FROM filtered_data;
```

#### Business Question 9: Which hours of the day have the worst air quality (highest average CO)?

In [ ]:
%%sql

-- Single CTE: Calculate and classify hourly averages
WITH hourly_averages AS (
    SELECT 
        hour,
        ROUND(AVG(co_gt), 4) AS avg_co,
        ROUND(AVG(benzene_gt), 4) AS avg_benzene,
        ROUND(AVG(nox_gt), 2) AS avg_nox,
        COUNT(*) AS reading_count
    FROM air_quality_readings
    WHERE co_gt IS NOT NULL
    GROUP BY hour
)
SELECT 
    hour,
    avg_co,
    avg_benzene,
    avg_nox,
    reading_count,
    CASE 
        WHEN avg_co > 2.5 THEN 'High Pollution'
        WHEN avg_co > 1.5 THEN 'Moderate Pollution'
        ELSE 'Low Pollution'
    END AS pollution_category
FROM hourly_averages
ORDER BY avg_co DESC;

### 5.2 Multiple CTEs (Chained)

#### Concept

Multiple CTEs allow you to build complex analysis step by step. Each CTE can reference previously defined CTEs.

#### Example Structure

```sql
WITH 
    step1 AS (
        -- First calculation
        SELECT ...
    ),
    step2 AS (
        -- Build on step1
        SELECT ...
        FROM step1
    ),
    step3 AS (
        -- Combine or further process
        SELECT ...
        FROM step2
    )
SELECT * FROM step3;
```

#### Business Question 10: Find days where pollution was significantly above monthly average

In [ ]:
%%sql

-- Multiple CTEs: Step-by-step analysis
WITH 
    -- Step 1: Calculate daily averages
    daily_pollution AS (
        SELECT 
            reading_date,
            month,
            year,
            ROUND(AVG(co_gt), 4) AS daily_avg_co,
            ROUND(AVG(benzene_gt), 4) AS daily_avg_benzene
        FROM air_quality_readings
        WHERE co_gt IS NOT NULL
        GROUP BY reading_date, month, year
    ),
    -- Step 2: Calculate monthly baselines
    monthly_baseline AS (
        SELECT 
            month,
            year,
            ROUND(AVG(daily_avg_co), 4) AS monthly_avg_co,
            ROUND(STDDEV(daily_avg_co), 4) AS monthly_std_co
        FROM daily_pollution
        GROUP BY month, year
    ),
    -- Step 3: Compare daily to monthly
    daily_comparison AS (
        SELECT 
            d.reading_date,
            d.daily_avg_co,
            m.monthly_avg_co,
            m.monthly_std_co,
            ROUND(d.daily_avg_co - m.monthly_avg_co, 4) AS deviation,
            ROUND((d.daily_avg_co - m.monthly_avg_co) / m.monthly_std_co, 2) AS z_score
        FROM daily_pollution d
        JOIN monthly_baseline m ON d.month = m.month AND d.year = m.year
    )
-- Final query: Find outlier days (z-score > 2)
SELECT 
    reading_date,
    daily_avg_co,
    monthly_avg_co,
    deviation,
    z_score,
    CASE 
        WHEN z_score > 2 THEN 'Significantly High'
        WHEN z_score < -2 THEN 'Significantly Low'
        ELSE 'Normal'
    END AS status
FROM daily_comparison
WHERE ABS(z_score) > 1.5
ORDER BY z_score DESC
LIMIT 15;

#### Business Question 11: Data Quality Assessment - Which sensors have the most missing data?

In [ ]:
%%sql

-- Multiple CTEs: Comprehensive data quality assessment
WITH 
    total_count AS (
        SELECT COUNT(*) AS total FROM air_quality_readings
    ),
    missing_by_sensor AS (
        SELECT 'CO (Ground Truth)' AS sensor, SUM(CASE WHEN co_gt IS NULL THEN 1 ELSE 0 END) AS missing
        FROM air_quality_readings
        UNION ALL
        SELECT 'Benzene (Ground Truth)', SUM(CASE WHEN benzene_gt IS NULL THEN 1 ELSE 0 END)
        FROM air_quality_readings
        UNION ALL
        SELECT 'NOx (Ground Truth)', SUM(CASE WHEN nox_gt IS NULL THEN 1 ELSE 0 END)
        FROM air_quality_readings
        UNION ALL
        SELECT 'NO2 (Ground Truth)', SUM(CASE WHEN no2_gt IS NULL THEN 1 ELSE 0 END)
        FROM air_quality_readings
        UNION ALL
        SELECT 'NMHC (Ground Truth)', SUM(CASE WHEN nmhc_gt IS NULL THEN 1 ELSE 0 END)
        FROM air_quality_readings
        UNION ALL
        SELECT 'Temperature', SUM(CASE WHEN temperature IS NULL THEN 1 ELSE 0 END)
        FROM air_quality_readings
        UNION ALL
        SELECT 'Humidity', SUM(CASE WHEN rel_humidity IS NULL THEN 1 ELSE 0 END)
        FROM air_quality_readings
    )
SELECT 
    m.sensor,
    m.missing AS missing_count,
    t.total AS total_readings,
    ROUND(m.missing * 100.0 / t.total, 2) AS missing_percentage,
    CASE 
        WHEN m.missing * 100.0 / t.total > 20 THEN 'Critical - Needs Attention'
        WHEN m.missing * 100.0 / t.total > 10 THEN 'Warning - Review Required'
        WHEN m.missing * 100.0 / t.total > 5 THEN 'Acceptable'
        ELSE 'Good Quality'
    END AS quality_status
FROM missing_by_sensor m
CROSS JOIN total_count t
ORDER BY missing_percentage DESC;

---

## 6. Window Functions

### What are Window Functions?

**Window functions** perform calculations across a set of rows that are related to the current row. Unlike GROUP BY which collapses rows into groups, window functions keep all individual rows while adding calculated values.

### Key Difference: GROUP BY vs Window Functions

```
Original Data:          GROUP BY Result:       Window Function Result:
+------+-------+        +------+-------+       +------+-------+-------+
| dept | sales |        | dept | total |       | dept | sales | total |
+------+-------+        +------+-------+       +------+-------+-------+
| A    | 100   |        | A    | 300   |       | A    | 100   | 300   |
| A    | 200   |   =>   | B    | 150   |       | A    | 200   | 300   |
| B    | 150   |        +------+-------+       | B    | 150   | 150   |
+------+-------+        (Rows collapsed)       +------+-------+-------+
                                               (All rows preserved)
```

### Window Function Syntax

```sql
function_name(column) OVER (
    [PARTITION BY partition_column]
    [ORDER BY order_column]
    [ROWS/RANGE frame_specification]
)
```

### Common Window Functions

| Function | Description | Example Use Case |
|----------|-------------|------------------|
| ROW_NUMBER() | Unique sequential number | Assign IDs, pagination |
| RANK() | Rank with gaps for ties | Competition rankings |
| DENSE_RANK() | Rank without gaps | Dense rankings |
| LAG(col, n) | Value from n rows before | Compare to previous period |
| LEAD(col, n) | Value from n rows after | Compare to next period |
| SUM() OVER | Running/cumulative total | Running balance |
| AVG() OVER | Moving average | Trend smoothing |
| FIRST_VALUE() | First value in window | Get baseline value |
| LAST_VALUE() | Last value in window | Get latest value |

### 6.1 ROW_NUMBER, RANK, and DENSE_RANK

#### Concept

These functions assign a number to each row based on the specified ordering:

```
Data:     ROW_NUMBER:   RANK:    DENSE_RANK:
+-----+   +-----+       +-----+  +-----+
| 100 |   |  1  |       |  1  |  |  1  |
| 100 |   |  2  |       |  1  |  |  1  |
| 90  |   |  3  |       |  3  |  |  2  |
| 80  |   |  4  |       |  4  |  |  3  |
+-----+   +-----+       +-----+  +-----+
          (unique)      (gaps)   (no gaps)
```

#### Business Question 12: Rank each hour's pollution level within its day

In [ ]:
%%sql

-- ROW_NUMBER, RANK, DENSE_RANK comparison
SELECT 
    reading_date,
    hour,
    co_gt,
    ROW_NUMBER() OVER (PARTITION BY reading_date ORDER BY co_gt DESC) AS row_num,
    RANK() OVER (PARTITION BY reading_date ORDER BY co_gt DESC) AS rank_num,
    DENSE_RANK() OVER (PARTITION BY reading_date ORDER BY co_gt DESC) AS dense_rank_num
FROM air_quality_readings
WHERE co_gt IS NOT NULL
    AND reading_date = '2004-03-15'
ORDER BY row_num;

#### Business Question 13: Find the top 3 most polluted hours for each day

In [ ]:
%%sql

-- Get top 3 polluted hours per day using ROW_NUMBER
WITH ranked_hours AS (
    SELECT 
        reading_date,
        hour,
        co_gt,
        ROW_NUMBER() OVER (PARTITION BY reading_date ORDER BY co_gt DESC) AS pollution_rank
    FROM air_quality_readings
    WHERE co_gt IS NOT NULL
)
SELECT 
    reading_date,
    hour,
    co_gt,
    pollution_rank
FROM ranked_hours
WHERE pollution_rank <= 3
ORDER BY reading_date, pollution_rank
LIMIT 21;

### 6.2 LAG and LEAD

#### Concept

LAG and LEAD allow you to access values from previous or subsequent rows:

```
Current Row           LAG(value, 1)        LEAD(value, 1)
+-----+-----+         +-----+------+       +-----+------+
| row | val |         | row | prev |       | row | next |
+-----+-----+         +-----+------+       +-----+------+
| 1   | A   |         | 1   | NULL |       | 1   | B    |
| 2   | B   |    =>   | 2   | A    |       | 2   | C    |
| 3   | C   |         | 3   | B    |       | 3   | NULL |
+-----+-----+         +-----+------+       +-----+------+
```

#### Syntax

```sql
LAG(column, offset, default) OVER (ORDER BY ...)
LEAD(column, offset, default) OVER (ORDER BY ...)
```

#### Business Question 14: How does each hour's pollution compare to the previous hour?

In [ ]:
%%sql

-- LAG: Compare to previous hour
SELECT 
    reading_datetime,
    co_gt AS current_co,
    LAG(co_gt, 1) OVER (ORDER BY reading_datetime) AS previous_hour_co,
    LEAD(co_gt, 1) OVER (ORDER BY reading_datetime) AS next_hour_co,
    ROUND(co_gt - LAG(co_gt, 1) OVER (ORDER BY reading_datetime), 4) AS hourly_change,
    CASE 
        WHEN co_gt - LAG(co_gt, 1) OVER (ORDER BY reading_datetime) > 1 THEN 'Spike'
        WHEN co_gt - LAG(co_gt, 1) OVER (ORDER BY reading_datetime) < -1 THEN 'Drop'
        ELSE 'Stable'
    END AS trend
FROM air_quality_readings
WHERE co_gt IS NOT NULL
ORDER BY reading_datetime
LIMIT 20;

#### Business Question 15: Detect sudden pollution spikes (hour-over-hour increase > 50%)

In [ ]:
%%sql

-- Find pollution spikes using LAG
WITH hourly_changes AS (
    SELECT 
        reading_datetime,
        co_gt,
        LAG(co_gt, 1) OVER (ORDER BY reading_datetime) AS prev_co,
        co_gt - LAG(co_gt, 1) OVER (ORDER BY reading_datetime) AS absolute_change
    FROM air_quality_readings
    WHERE co_gt IS NOT NULL
)
SELECT 
    reading_datetime,
    prev_co AS previous_co,
    co_gt AS current_co,
    absolute_change,
    ROUND(absolute_change * 100.0 / prev_co, 2) AS percent_change
FROM hourly_changes
WHERE prev_co > 0 
    AND absolute_change > 0
    AND (absolute_change / prev_co) > 0.5  -- More than 50% increase
ORDER BY absolute_change DESC
LIMIT 15;

### 6.3 Running Totals and Moving Averages

#### Concept

Window functions can calculate cumulative sums and moving averages:

```
Data:    Running Sum:   3-Period Moving Avg:
+-----+  +-----+        +-------+
| 10  |  | 10  |        | NULL  |  (not enough data)
| 20  |  | 30  |        | NULL  |  (not enough data)
| 30  |  | 60  |        | 20.0  |  (10+20+30)/3
| 40  |  | 100 |        | 30.0  |  (20+30+40)/3
+-----+  +-----+        +-------+
```

#### Frame Specification

```sql
SUM(col) OVER (
    ORDER BY date
    ROWS BETWEEN 2 PRECEDING AND CURRENT ROW  -- Last 3 rows
)
```

#### Business Question 16: Calculate 7-day moving average of CO levels

In [ ]:
%%sql

-- 7-day moving average using window function
SELECT 
    reading_date,
    avg_co AS daily_co,
    ROUND(AVG(avg_co) OVER (
        ORDER BY reading_date
        ROWS BETWEEN 6 PRECEDING AND CURRENT ROW
    ), 4) AS moving_avg_7day,
    ROUND(AVG(avg_co) OVER (
        ORDER BY reading_date
        ROWS BETWEEN 13 PRECEDING AND CURRENT ROW
    ), 4) AS moving_avg_14day
FROM daily_summary
WHERE avg_co IS NOT NULL
ORDER BY reading_date
LIMIT 30;

#### Business Question 17: Calculate cumulative pollution exposure over time

In [ ]:
%%sql

-- Running total of pollution exposure
SELECT 
    reading_date,
    avg_co,
    SUM(avg_co) OVER (ORDER BY reading_date) AS cumulative_co_exposure,
    ROW_NUMBER() OVER (ORDER BY reading_date) AS day_number,
    ROUND(SUM(avg_co) OVER (ORDER BY reading_date) / 
          ROW_NUMBER() OVER (ORDER BY reading_date), 4) AS running_avg_co
FROM daily_summary
WHERE avg_co IS NOT NULL
ORDER BY reading_date
LIMIT 20;

---

## 7. Data Contracts

### What are Data Contracts?

A **data contract** is a formal agreement that defines the structure, format, and quality expectations for data. It serves as documentation and can be enforced through database constraints.

### Types of Data Contracts

| Contract Type | Description | Implementation |
|---------------|-------------|----------------|
| **Schema Contract** | Defines column names and data types | CREATE TABLE statement |
| **Not Null Contract** | Specifies required fields | NOT NULL constraint |
| **Uniqueness Contract** | Ensures unique values | UNIQUE or PRIMARY KEY |
| **Range Contract** | Defines valid value ranges | CHECK constraint |
| **Referential Contract** | Links between tables | FOREIGN KEY constraint |
| **Format Contract** | Specifies data format | Application validation |

### Why Data Contracts Matter

1. **Data Quality:** Prevent bad data from entering the system
2. **Consistency:** Ensure all data follows the same rules
3. **Documentation:** Serve as living documentation of data expectations
4. **Trust:** Build confidence in data-driven decisions

### 7.1 Implementing Data Contracts in SQL

In [ ]:
%%sql

-- Example: Create a table with data contracts
DROP TABLE IF EXISTS validated_readings;

CREATE TABLE validated_readings (
    -- Primary Key Contract: Unique identifier required
    reading_id INT PRIMARY KEY AUTO_INCREMENT,
    
    -- Not Null Contract: These fields are required
    reading_datetime DATETIME NOT NULL,
    
    -- Range Contract: Temperature must be realistic (-50 to 60 Celsius)
    temperature DECIMAL(5,2) CHECK (temperature >= -50 AND temperature <= 60),
    
    -- Range Contract: Humidity must be 0-100%
    rel_humidity DECIMAL(5,2) CHECK (rel_humidity >= 0 AND rel_humidity <= 100),
    
    -- Range Contract: CO must be non-negative
    co_gt DECIMAL(10,4) CHECK (co_gt >= 0),
    
    -- Quality flag for data lineage
    quality_flag ENUM('VALIDATED', 'ESTIMATED', 'MISSING') DEFAULT 'VALIDATED',
    
    -- Audit fields
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    -- Index for query performance
    INDEX idx_datetime (reading_datetime)
);

In [ ]:
%%sql

-- Test the data contract: This should succeed
INSERT INTO validated_readings (reading_datetime, temperature, rel_humidity, co_gt)
VALUES ('2024-01-01 10:00:00', 25.5, 65.0, 1.5);

In [ ]:
%%sql

-- Verify the insert
SELECT * FROM validated_readings;

### 7.2 Validating Existing Data Against Contracts

In [ ]:
%%sql

-- Data Contract Validation Report
SELECT 
    'Temperature Range Check' AS contract_name,
    COUNT(*) AS total_records,
    SUM(CASE WHEN temperature < -50 OR temperature > 60 THEN 1 ELSE 0 END) AS violations,
    ROUND(SUM(CASE WHEN temperature < -50 OR temperature > 60 THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2) AS violation_pct
FROM air_quality_readings
WHERE temperature IS NOT NULL

UNION ALL

SELECT 
    'Humidity Range Check',
    COUNT(*),
    SUM(CASE WHEN rel_humidity < 0 OR rel_humidity > 100 THEN 1 ELSE 0 END),
    ROUND(SUM(CASE WHEN rel_humidity < 0 OR rel_humidity > 100 THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2)
FROM air_quality_readings
WHERE rel_humidity IS NOT NULL

UNION ALL

SELECT 
    'CO Non-Negative Check',
    COUNT(*),
    SUM(CASE WHEN co_gt < 0 THEN 1 ELSE 0 END),
    ROUND(SUM(CASE WHEN co_gt < 0 THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2)
FROM air_quality_readings
WHERE co_gt IS NOT NULL

UNION ALL

SELECT 
    'Required DateTime Check',
    COUNT(*),
    SUM(CASE WHEN reading_datetime IS NULL THEN 1 ELSE 0 END),
    ROUND(SUM(CASE WHEN reading_datetime IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2)
FROM air_quality_readings;

---

## 8. Practice Exercises

Try these exercises on your own before looking at the solutions.

### Exercise 1: JOIN Practice
Write a query to find the top 5 days with the highest benzene levels, and classify each into a pollution category using the pollution_thresholds table.

In [ ]:
%%sql

-- Your answer here

### Exercise 2: CTE Practice
Using CTEs, find the percentage of hours each day that had "Unhealthy" CO levels (above 4.0 mg/m3).

In [ ]:
%%sql

-- Your answer here

### Exercise 3: Window Function Practice
For each month, calculate the daily CO reading's percentile rank within that month.

In [ ]:
%%sql

-- Your answer here

### Exercise 4: Combined Challenge
Find hours where the CO level was more than 2 standard deviations above the daily average for that day.

In [ ]:
%%sql

-- Your answer here

---

### Solutions

In [ ]:
%%sql

-- Solution 1: JOIN to classify benzene levels
SELECT 
    d.reading_date,
    d.max_benzene,
    p.level_name,
    p.health_advisory
FROM daily_summary d
INNER JOIN pollution_thresholds p 
    ON p.pollutant = 'Benzene'
    AND d.max_benzene >= p.min_value 
    AND d.max_benzene < p.max_value
WHERE d.max_benzene IS NOT NULL
ORDER BY d.max_benzene DESC
LIMIT 5;

In [ ]:
%%sql

-- Solution 2: CTE for unhealthy hours percentage
WITH daily_health AS (
    SELECT 
        reading_date,
        COUNT(*) AS total_hours,
        SUM(CASE WHEN co_gt > 4.0 THEN 1 ELSE 0 END) AS unhealthy_hours
    FROM air_quality_readings
    WHERE co_gt IS NOT NULL
    GROUP BY reading_date
)
SELECT 
    reading_date,
    total_hours,
    unhealthy_hours,
    ROUND(unhealthy_hours * 100.0 / total_hours, 2) AS unhealthy_pct
FROM daily_health
WHERE unhealthy_hours > 0
ORDER BY unhealthy_pct DESC
LIMIT 10;

In [ ]:
%%sql

-- Solution 3: Percentile rank by month
SELECT 
    reading_date,
    month,
    avg_co,
    ROUND(PERCENT_RANK() OVER (PARTITION BY month ORDER BY avg_co) * 100, 2) AS percentile_rank
FROM daily_summary
WHERE avg_co IS NOT NULL
ORDER BY month, percentile_rank DESC
LIMIT 20;

In [ ]:
%%sql

-- Solution 4: Hours more than 2 std dev above daily average
WITH daily_stats AS (
    SELECT 
        reading_date,
        AVG(co_gt) AS daily_avg,
        STDDEV(co_gt) AS daily_std
    FROM air_quality_readings
    WHERE co_gt IS NOT NULL
    GROUP BY reading_date
)
SELECT 
    r.reading_datetime,
    r.co_gt,
    ROUND(s.daily_avg, 4) AS daily_avg,
    ROUND(s.daily_std, 4) AS daily_std,
    ROUND((r.co_gt - s.daily_avg) / s.daily_std, 2) AS z_score
FROM air_quality_readings r
JOIN daily_stats s ON r.reading_date = s.reading_date
WHERE r.co_gt IS NOT NULL
    AND s.daily_std > 0
    AND (r.co_gt - s.daily_avg) / s.daily_std > 2
ORDER BY z_score DESC
LIMIT 15;

---

## 9. Summary

### What We Covered Today

1. **Loading CSV Data into MySQL**
   - Reading CSV with pandas (handling European decimal format)
   - Cleaning and transforming data
   - Bulk loading with to_sql()

2. **SQL JOINs**
   - INNER JOIN: Only matching rows
   - LEFT JOIN: All from left, matches from right
   - RIGHT JOIN: All from right, matches from left
   - CROSS JOIN: Cartesian product
   - SELF JOIN: Comparing rows within same table

3. **Common Table Expressions (CTEs)**
   - Single CTEs for readability
   - Multiple CTEs for step-by-step analysis
   - Chaining CTEs together

4. **Window Functions**
   - ROW_NUMBER, RANK, DENSE_RANK for ranking
   - LAG/LEAD for comparing to previous/next rows
   - Running totals and moving averages

5. **Data Contracts**
   - Schema, nullability, range, and referential contracts
   - Implementing constraints in SQL
   - Validating existing data

### Key Takeaways

| Concept | When to Use |
|---------|-------------|
| INNER JOIN | Need only matching records from both tables |
| LEFT JOIN | Need all records from main table + optional data |
| CTE | Complex queries that benefit from step-by-step logic |
| Window Functions | Need calculations across related rows without grouping |
| Data Contracts | Ensuring data quality and consistency |

### Next Class Preview

In the next lecture, we will cover:
- ETL Pipeline I: CSV/JSON data ingestion
- Raw vs cleaned data layers
- Data lineage and transformation tracking

---

## 10. References

### Official Documentation

1. **MySQL 8.0 Reference Manual - JOIN Syntax**  
   https://dev.mysql.com/doc/refman/8.0/en/join.html

2. **MySQL 8.0 Reference Manual - WITH (Common Table Expressions)**  
   https://dev.mysql.com/doc/refman/8.0/en/with.html

3. **MySQL 8.0 Reference Manual - Window Functions**  
   https://dev.mysql.com/doc/refman/8.0/en/window-functions.html

4. **Pandas Documentation - to_sql()**  
   https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html

### Dataset

5. **UCI Machine Learning Repository - Air Quality Dataset**  
   https://archive.ics.uci.edu/ml/datasets/Air+Quality

### Books

6. Beaulieu, A. (2020). *Learning SQL: Generate, Manipulate, and Retrieve Data* (3rd ed.). O'Reilly Media.

7. Molinaro, A., & Graaf, R. (2020). *SQL Cookbook* (2nd ed.). O'Reilly Media.

### Online Resources

8. **Mode SQL Tutorial - Window Functions**  
   https://mode.com/sql-tutorial/sql-window-functions/

9. **PostgreSQL Tutorial - CTEs**  
   https://www.postgresqltutorial.com/postgresql-cte/

10. **Data Engineering Weekly - Data Contracts**  
    https://dataengineeringweekly.com/data-contracts/

---

## Cleanup (Optional)

Run these commands when you are finished to clean up the database.

In [ ]:
%%sql

-- Drop tables (uncomment to run)
-- DROP TABLE IF EXISTS validated_readings;
-- DROP TABLE IF EXISTS air_quality_readings;
-- DROP TABLE IF EXISTS daily_summary;
-- DROP TABLE IF EXISTS monthly_summary;
-- DROP TABLE IF EXISTS sensor_info;
-- DROP TABLE IF EXISTS pollution_thresholds;